.App {
  display: flex;
  flex-wrap: wrap;
}

/* Map */

.map-container {
  position: fixed;
  width: calc(100% - 25%);
  height: 100%;
}

img {
  width: 100%;
}

/* SideBar */

.side-container {
  width:30%;
  height:100vh;
  color: #f2f2f2;
  background: linear-gradient(to bottom, rgba(89,106,114,1) 21%,   /* grandient generated @ http://www.colorzilla.com/gradient-editor/ */
  rgba(89,106,114,1) 36%,rgba(89,106,114,1) 77%,rgba(89,106,114,1) 83%,
  rgba(89,106,114,1) 88%,rgba(206,220,231,1) 94%,rgba(206,220,231,1) 100%);
  display: flex;
  flex-flow: column;
  align-items: left;
}

.location-grid{
  list-style-type: none;
  text-align: left;
  padding-left: 10px;
}

.input {
  width: 80%;
  margin-left: 10px;
}

.api-text {
  color: #ff6600;
  text-shadow: 0.5px 0.5px 0.5px #0d0d0d;
  font-weight: bold;
}

.list-item {
  font-weight: 500;
}

.list-item:hover {
  color: #ff6600;
  cursor: pointer;
  text-shadow: 2px 2px 2px #0d0d0d;
  transition: 1.2s;
  font-weight: 750;
}

.list-item:focus {
  color: #ff6600;
  cursor: pointer;
  text-shadow: 2px 2px 2px #0d0d0d;
  transition: 1.2s;
  font-weight: 750;
}

.list-view-title {
  color: #ff6600;
  text-shadow: 2px 2px 2px #0d0d0d;
}

.no-search-results {
  margin-left: 10px;
}

/* Info Window */

.location-title {
  color: #ff6600;
  text-shadow: 1px 1px 1px #0d0d0d;
}

.infowindow-line {
  margin-top: 5%;
}
