.App {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  font-family: 'Merienda', cursive;
}

/* Header */

.header-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}

 .header {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
 }

.title {
  color: #26a659;
  text-shadow: 2px 2px 2px #0d0d0d;
  margin-left: 10px;
  font-size: 1.6em;
}

.menu-icon {
  color: white;
  margin-left: 10px;
  font-size: 2em;
  background-color: #26a659;
  padding: 2px;
  border-radius: 50%;
}

.menu-icon:hover {
  color: #26a659;
  background-color: white;
  transition: 0.3s;
}

/* Map */

.map-container-full {
  position: relative;
  width: 98vw;
  height: 80vh;
  margin-left: 1%;
}

.map-container-half {
  position: absolute;
  width: 100%;
  height: 80vh;
}

img {
  width: 100%;
  border-radius: 10px;
}

/* SideBar */

.side-container-clossed {
  display: none;
}
.side-container-open{
  width:90%;
  height:80vh;
  color: #f2f2f2;
  display: flex;
  flex-flow: column;
}

.location-grid {
  list-style-type: none;
  text-align: left;
  line-height: 1.8em;
  padding-left: 0;
  overflow: auto;
  width: 90%;
  background-color: white;
  color: #2C5364;
  border-radius: 6px;
  max-height: 74%;
  margin-left: 5%;
}

.search-input-wrapper {
  border-bottom: 1px solid grey;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 10px;
}
.input {
  width: 90%;
  border-radius: 6px;
  border: none;
  padding: 10px 0px 10px 10px;
  font-family: 'Merienda', cursive;
  outline: none;
  height: 30px;
}

.input:hover {
  box-shadow: 0px 0px 15px 1px #26a659;
}

.input:focus {
  box-shadow: 0px 0px 15px 1px #26a659;
}

.list-item {
  font-weight: 500;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #2C5364;
}

.list-item:hover {
  color: white;
  background-color: #26a659;
  cursor: pointer;
}

.list-item:focus {
  color: white;
  background-color: #26a659;
  cursor: pointer;
  outline: none;
}

.list-name {
  margin-left: 10px;
}

.icon-title {
  font-size: 2.4em;
  cursor: default;
  margin-left: 5%;
}

.filter-wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  width: 65%;
  font-size: 0.9em;
  height: 28px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-family: 'Merienda', cursive;
  margin-right: 5%;
}

.filter-text {
  background-color: #26a659;
  padding: 10px;
  border-radius: 10px;
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.list-view {
  height: 75%;
  width: 100%;
}

/* Info Window */

.location-title {
  color: #26a659;
  text-shadow: 0px 2px 2px #0d0d0d;
  border-radius: 10px;
  padding: 8px;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  font-size: 1em;
}

.infowindow-line {
  margin-top: 5%;
}

.info-window {
  font-size: 1em;
  font-weight: 500;
  font-family: 'Merienda', cursive;
}

.api-text {
  font-weight: bold;
  font-size: 0.7em;
  color: white;
  background-color: #26a659;
  border-radius: 10px;
  padding: 6px;
}

.error-message {
  color: #26a659;
  border-radius: 10px;
  padding: 20px;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.loader-container {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.infowindow-loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #26a659;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Footer */

.footer-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: white;
  font-weight: 550;
  background: #26a659;
  padding: 8px;
  border-radius: 6px;
  font-family: sans-serif;
  font-size: 0.7em;
}

/* Custom ScrollBar */

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2C5364;
  border-radius: 6px;
}
