
@media only screen and (max-width: 361px) {
  .info-window {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 601px) {
  .list-item {
    font-size: 0.8em;
  }
  .input {
    font-size: 0.9em;
    height: 30px;
  }
  .map-container-half {
    width: 61vw;
  }
  .side-container-open {
    width: 38%;
  }
  .api-text {
    font-size: 0.8em;
  }
  .info-window {
    width: 250px;
    font-size: 0.9em;
  }
  .footer-text {
    font-size: 0.9em
  }
  .title {
    font-size: 1.8em;
  }
  .location-title {
    font-size: 1.2em;
  }
  .icon-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


@media only screen and (min-width: 1200px) {
  .title {
    font-size: 1.9em;
  }
  .menu-icon {
    font-size: 1.8em;
    margin-left: 16px;
  }
  .list-item {
    font-size: 0.9em;
  }
  .input {
    width: 90%;
    height: 38px;
  }
  .map-container-half {
    width: 76vw;
  }
  .side-container-open {
    width: 23%;
  }
  .api-text {
    font-size: 0.9em;
  }
  .info-window {
    font-size: 0.8em;
  }
}
